<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<!--
  Szemission Bringup verison 2020.S:
    - LIDAR: Ouster OS1-128
    - LIDAR: 1 x Sick_lms111
    - GPS:   1 x Duro (map->gps gps_tf_publisher.launch)
    - TF:    tf_static.launch
    - /current_pose
    - car_parameters


-->

<launch>
  <include file="$(find szemission_bringup)/launch/duro_gps.launch" />
  <include file="$(find szemission_bringup)/launch/ouster.launch" />
  <include file="$(find szemission_bringup)/launch/sick.launch" />
  <include file="$(find szemission_bringup)/launch/tf_static.launch" />
  <include file="$(find szemission_bringup)/launch/gps_tf_publisher.launch" />
  <include file="$(find szemission_bringup)/launch/car_parameters_szemission.launch" />
  <node pkg="szemission_bringup" type="current_pose_from_tf.py" name="current_pose_from_tf"/>

  </launch>