<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<!--
    A szemission méretei, a kormányszög változtatatásra szorul
-->


<launch>
<param name = "car_width" value="1.290"/>                           <!--A jármű teljes szélessége [m]-->
<param name = "car_length" value= "3.616"/>                         <!--A jármű teljes hosszúsága [m]-->
<param name = "wheelbase" value= "1.3"/>                            <!--A jármű nyomtávja [m]-->
<param name = "rear_axle_car_front_distance" value= "2.363"/>       <!--A jármű hátsó tengelye és a kocsi eleje közötti távolság [m]-->
<param name = "max_wheel_angle" value= "31.0"/>                     <!--Maximális kormányszög [deg] ?? értéket változtatni!-->
<param name = "min_wheel_angle" value= "-31.0"/>                    <!--Minimális kormányszög [deg] ?? értéket változtatni!-->
</launch>